* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, .Search_Bar{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
}

html, body {
    overflow-x: hidden;
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131313;
    padding: 0 1%;
    border-top: 16px solid black;
    border-bottom: 1px solid white ;
    height: 75px;  
    overflow: hidden;
    z-index: 100;
}

.Logo{
    width: auto;
    height:200%;
    object-fit: contain;
}

.Navigation{
    list-style: none;
    padding-left: 320px;
}

.Navigation li {
    display: inline-block;
    padding: 0 20px;
}

.Search_Bar {
    z-index: 10;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
    border: none;
    border-radius: 50px;
    padding: 7px;
    padding-left: 40px;
    width: 300px;
    background-image: url('../Images/search.png');
    background-repeat: no-repeat;
    background-position: 15px center;
    color: black;
}

.RightSide{
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
    
}

.RightSide .Search_Bar{
    margin-right: 50px;
}

.Icon {
    height: 29px;
    width: auto;
    
}
