* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

a,
button {
  cursor: pointer;
}

#products-header {
  display: flex;
  width: 100%;
  height: 7rem;
  background-color: #17202c;
  box-shadow: 0 8px 10px 5px rgba(93, 93, 93, 0.507);
}

#products-header .image {
  width: 10.875rem;
  height: 7.188rem;
  margin: 0 3.188rem 0 1.5rem;
}

#products-header .image img {
  width: 100%;
  height: 7.188em;
}

.search-bar::placeholder {
  color: rgba(255, 255, 255, 0.542);
}

#products-header .middle-header {
  margin: 1em 2em 0 0;
}

.search-bar {
  z-index: 10;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  border: 1.5px solid #a39393;
  border-radius: 5px;
  padding: 0.5em 70em 0.5em 2.5em;
  background-image: url("../../Images/search (white).png");
  background-repeat: no-repeat;
  background-position: 0.6em center;
  background-size: 1.5em;
  background-color: #374151;
  color: white;
}

#products-header .navigation li,
#products-header .navigation a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;
  display: inline-block;
  text-decoration: none;
  color: #cbcbcb;
  padding: 0.875em 1.5em 0 0;
}


#products-header .navigation a:hover {
  color: #ffffff;
}

#products-header .icons {
  padding: 1em 0 0 0;
}

#products-header .icons img {
  padding: 0 0 0 1em;
}

@media (max-width: 1455px) {
  .search-bar {
 
  padding: 0.5em 58em 0.5em 2.5em;
  
}
}

@media (max-width: 1300px) {
  .search-bar {
 
  padding: 0.5em 47em 0.5em 2.5em;
  
}
}

@media (max-width: 1150px) {
  .search-bar {
 
  padding: 0.5em 35em 0.5em 2.5em;
  
}

#products-header .navigation li,
#products-header .navigation a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;
  display: inline-block;
  text-decoration: none;
  color: #cbcbcb;
  padding: 0.875em 1em 0 0;
}
}

@media (max-width: 1000px) {
  .search-bar {
 
  padding: 0.5em 26em 0.5em 2.5em;
  
}

#products-header .navigation li,
#products-header .navigation a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;
  display: inline-block;
  text-decoration: none;
  color: #cbcbcb;
  padding: 0.875em 1em 0 0;
  font-size: 0.8rem;
}

#products-header .middle-header {
  margin: 1em 1em 0 0;
}

#products-header .image {
  width: 8.875rem;
  height: 5.188rem;
  margin: 0 3.188rem 0 1.5rem;
}

}

@media (max-width: 810px) {
  .search-bar {
 
  padding: 0.5em 15em 0.5em 2.5em;
  
}

#products-header .image {
  width: 6.875rem;
  height: 3.188rem;
  margin: 0 1.188rem 0 1rem;
}

#products-header .navigation li,
#products-header .navigation a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: italic;
  display: inline-block;
  text-decoration: none;
  color: #cbcbcb;
  padding: 0.875em 0.8em 0 0;
  font-size: 0.7rem;
}
}


