* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        }


        #products-header {
            display: flex;
            width: auto;
            height: 7rem;
            background-color: #17202C;
        }

        #products-header .image {

            width: auto;
            height: 100%;
            margin: 1.4em 3em 0 2em;
        }

        #products-header .image img {
            width: 100%;
            height: 60%;
        }

        .search-bar::placeholder {
            color: rgba(255, 255, 255, 0.542);
        }

        #products-header .middle-header {
            margin: 1em 2em 0 1em;
        }

        .search-bar {
            z-index: 10;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-style: italic;
            border: 1.5px solid #A39393;
            border-radius: 5px;
            padding: 0.5em 70em 0.5em 2.5em;
            background-image: url('../Images/search (white).png');
            background-repeat: no-repeat;
            background-position: 0.6em center;
            background-size: 1.5em;
            background-color: #374151;
            color: white;
        }

        #products-header .navigation li,
        #products-header .navigation a {
            font-family: "Lato", sans-serif;
            font-weight: 600;
            font-style: italic;
            display: inline-block;
            text-decoration: none;
            color: #CBCBCB;
            padding: 0.875em 1.5em 0 0;
        }

        #products-header .icons {
            padding: 1em 0 0 0;
        }

        #products-header .icons img {
            padding: 0 0 0 1em;
        }